body{
  margin: 0;
  min-height: 100vh;
  height: 100%;
}
.wrapper{
  display: flex;
  min-height: 100vh;
  height: 100%;
  &__leftPanel{
    width: 300px;
    min-height: 100vh;
    background-color: red;
    height: 100%;
  }
  &__rightPanel{
    flex-grow: 100;
    min-height: 100vh;
    height: 100%;
    background-color: #a67171;
  }

}
