
body {
  margin: 0;
  min-height: 100vh;
  height: 100%;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

div {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  height: 100%;
  @media (max-width: 1150px) {
    flex-direction: column;
  }


  &__leftPanel {
    background: #FFFFFF;
    max-width: 306px;
    min-height: 100vh;
    height: 100%;
    flex-shrink: 10;
    flex-grow: 140;
    position: relative;
    @media (max-width: 1200px) {
      max-width: 250px;
    }
    @media (max-width: 1150px) {
      max-width: 100%;
      height: 60px;
      min-height: auto;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      display: flex;
      justify-content: space-between;
    }

    &__top {
      height: 80px;

      @media (max-width: 1200px) {
        height: 70px;
      }

      h1 {
        display: flex;
        justify-content: center;
        column-gap: 5px;
        align-items: flex-end;
        @media (max-width: 1150px) {
          margin: 0;
        }
      }

      &--image {
        margin-right: 4px;
        position: relative;
        top: 2px;
      }

      &--version {
        font-size: 10px;
        position: relative;
        bottom: 3px;

      }

      &--title {
        font-size: 26px;
        font-weight: bold;
        @media (max-width: 1200px) {
          font-size: 23px;
        }

      }
    }

    &__hamburger {
      display: none;
      @media (max-width: 1150px) {
        display: flex;
        margin: 10px;
        cursor: pointer;
      }
      flex-direction: column;
      column-gap: 10px;
      row-gap: 7px;

      & > div {
        width: 20px;
        height: 2px;
        background: black;
        transition: 300ms;
        transform: rotate(0) translate(0, 0);

      }

      &--open {
        & > div {

        }

        & > div:nth-child(1) {
          transform: rotate(45deg) translate(7px, 10px);
        }

        & > div:nth-child(2) {
          width: 0;

        }

        & > div:nth-child(3) {
          transform: rotate(-45deg) translate(2px, -5px);

        }
      }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      justify-content: center;
      @media (max-width: 1300px) {
        padding-left: 10px;
        padding-right: 10px;
      }
      @media (max-width: 1150px) {
        position: absolute;
        top: 70px;
        left: -250px;
        z-index: 100;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.62);
        background: #FFFFFF;

      }
      transition: left 300ms ease-in-out;

      &--open {
        left: 0;
      }

      a {
        box-sizing: border-box;
        width: 90%;
        max-width: 250px;
        justify-content: space-between;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 10px;
        border-radius: 10px;

        &:hover {
          cursor: pointer;
          background: rgba(89, 50, 234, 0.27);
        }

        @media (max-width: 1300px) {
        }

        &.selected {
          background: #5932EA;

          color: white;

          &:hover {
            cursor: pointer;
            background: #5932EA;
          }
        }

        div {
          display: flex;
          align-items: center;
          column-gap: 15px;

          span {
            color: #9197B3;
          }
        }

      }
    }


    &__bottom {
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 1150px) {
        position: static;
        width: auto;
        padding-right: 10px;
      }

      &__panel {

        display: flex;
        height: min-content;

        &__left {
          padding-right: 10px;

          img {

          }
        }

        &__right {
          display: flex;
          flex-direction: column;
          @media (max-width: 750px) {
            display: none;
          }

          h5 {
            margin: 0;
            font-size: 14px;
          }

          span {
            font-size: 12px;
            color: #757575;
          }
        }
      }
    }
  }

  &__rightPanel {
    flex-grow: 100;
    min-height: 100vh;
    height: 100%;

    background-color: #FAFBFF;


  }

}
