.top.wrapper__leftPanel__top
    h1
        img(src='').wrapper__leftPanel__top--image
        span.wrapper__leftPanel__top--title=Dashboard
        span.wrapper__leftPanel__top--version v.01


nav.menu
    +menuElement('dashboard23')
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
.bottom
    span hej

