.top
    span hej

nav.menu
    +menuElement('dashboard23')
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
    |
    |
    +menuElement('dashboard23',true)
.bottom
    span hej

