mixin menuElement(title,icon,arrowDisplay,selected)
    a.collapse(class=(selected === true ? "selected" : ""))
        div
            img(src=icon)
            span= title
        if arrowDisplay
            if !selected
                img(src='assets/icon/arrow.svg')
            else
                img(src='assets/icon/arrowWhite.svg')
