doctype html
html(lang='en')
head
    title Dashboard
    |
    |
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    |
    |
    link(rel='stylesheet', type='text/css', href='styles/table.css')
    |
    |
    link(rel='stylesheet', type='text/css', href='styles/ui.css')
    |
    |
    link(rel='stylesheet', type='text/css', href='styles/fonts.css')
    include mixins/mixins.pug
body
    .wrapper
        div.wrapper__leftPanel
            include components/leftPanel.pug
        div.wrapper__rightPanel
            include components/rightPanel.pug

script(src='scripts/main.js')
