doctype html
html(lang='en')
head
    title task2335
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    include mixins/mixins.pug
body
    .wrapper
        div.wrapper__leftPanel
            include components/leftPanel.pug
        div.wrapper__rightPanel
            include components/rightPanel.pug

